.icons-sprite {
    background-repeat: no-repeat;
}

/* Mixins */
textarea:focus, input:focus, button:focus {
    outline: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */
body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: Helvetica, Arial, sans-serif !important;
}

.flexible-image {
    max-width: 100%;
}

img {
    border: 0;
    max-width: 100%;
}

/*--------------------------------------------
container
---------------------------------------------*/
.container-wrap {
    margin: 0 auto;
    max-width: 320px;
}

.container {

    background-color: black;
    box-sizing: border-box;
    padding: 24px 0 40px 72px;

}

/*--------------------------------------------
slider
---------------------------------------------*/
#slider-wrap {
    max-width: 800px;
    margin: 0 -50px 0 0;
}

#active-slide {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    padding: 0 20px 0 50px;
    box-sizing: border-box;
    margin: 0 0 0 -50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#active-slide span.slide-title {
    opacity: 1;
}

#slider {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.slide {
    width: calc(96% / 4);
    margin-right: 1%;
    list-style: none;
    display: inline;
    float: left;
    position: relative;
}
.slide-title {
    color: white;
    display: block;
    font-size: 40px;
    line-height: 47px;
    position: absolute;
    left: -50px;
    bottom: 60px;
    width: 80%;
    opacity: 0;
    font-weight: bold;
}
.slide-title span {
    font-size: 60px;
    line-height: 50px;

}
.slide-event {
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: block;
    left: -50px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 12px 15px;

}
.slide-event__urgency {
    background-image: url("../img/icons/fire-icon.png");
}
.slide-event__location {
    background-image: url("../img/icons/location.png")
}
.show-details {
    font-size: 14px;
    line-height: 16px;
    color: #FF781C;
    position: absolute;
    bottom: 10px;
    left: -50px;
    font-weight: bold;
    text-decoration: none;
}

.slide img {
    width: 100%;
    margin-bottom: -3px;
    border-radius: 7px !important;
}

.Radio-But {
    width: 100%;
    margin-left: -80px;
    margin-top: 10px;
    text-align: center;
}

.Radio-But .ctrl-select {
    margin: 3px;
    display: inline-block;
    width: 6px;
    height: 6px;
    overflow: hidden;
    text-indent: -9999px;
    background: #333333;
    border-radius: 50%;
}

.Radio-But .ctrl-select:hover {
    cursor: pointer;
    background-position: center center;
}

.Radio-But .ctrl-select.active {
    background-color: #FF781C;
    background-position: center top;
}

#prewbutton, #nextbutton {
    display: none;
}
/*--------------------------------------------
events
---------------------------------------------*/

.events {
    background-color: #151515;
}
.events-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.events-item__title {
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 22px 0 21px 23px !important;
    font-weight: bold;
    min-height: auto !important;

}
.events-item {
    border-bottom: 1px solid #2A2A2A;
    padding: 22px 0 21px 72px;
    position: relative;
    min-height: 80px;
}


.item-title {
    z-index: 3;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 21px;


}
.item-title span {
    font-size: 14px;
    line-height: 16px;
    color: #D5D5D5;
}

.events-item-img {
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    left: 12px;
    top: 22px;
    border-radius: 6px;
}


