* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif !important;
	}
	.flexible-image {
			max-width: 100%;
		}
/*--------------------------------------------
HEADER
---------------------------------------------*/
.top-wrap {
	background-color: #000000;
}